<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link inline rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css"/>
    <link inline rel="stylesheet" href="/css/main.css"/>
    <script inline src="/components/requirejs/require.js"></script>
    <script inline src="/js/main.js"></script>
    <title>World Data Center</title>
  </head>

  <body ng-controller="MainCtrl" ng-class="{'debug-enabled': globalConfig.debugMode}">
  <header class="row">
    <div class="col-lg-3">
      <h1><img src="/img/logo.gif"/></h1>
    </div>
    <div class="col-lg-9">
      <ul class="list-inline pull-right">
        <li ng-repeat="section in appConfig.config.sections"><a href="/404" ng-bind="section"></a></li>
      </ul>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-9 col-lg-push-3" id="page-view">
      <div ng-if="globalConfig.designMode" id="page-design-panel">
        <h3>Design mode panel</h3>
        <button class="btn btn-primary" ng-click="appConfig.submitToServer(alertAppConfigSubmissionFailed)"
                id="submitChangesToServerBtn"
                ng-disabled="appConfig.sendingToServer || !appConfig.wasModified">
          Submit changes to server
        </button>
        <button class="btn btn-danger"
                id="deletePageBtn"
                ng-disabled="appConfig.isHomePageOpened() || appConfig.is404PageOpened()"
                disabled
                ng-click="appConfig.deletePage(appConfig.currentPageIndex)">
          Delete page
        </button>
        <hr>
      </div>
      <div ui-view>
        Loading...
      </div>
    </div>

    <nav class="col-lg-3 col-lg-pull-9">
      <ul class="side-nav">
        <li ng-repeat="page in appConfig.config.pages" ng-if="page.shortTitle"><a href="/{{page.href}}" ng-bind="page.shortTitle"></a></li>
      </ul>
      <label>Design mode:
        <input ng-model="globalConfig.designMode" type="checkbox">
      </label>
      <label>Debug mode:
        <input ng-model="globalConfig.debugMode"
               ng-disabled="globalConfig.designMode"
               type="checkbox">
      </label>

      <p><img src="/img/ad.gif"/></p>
    </nav>
  </div>

  <footer class="row">
    <div class="col-lg-12">
      <hr/>
      <div class="row">
        <div class="col-lg-6">
          <p>&copy; Copyright</p>
        </div>
        <div class="col-lg-6">
          <ul class="list-inline pull-right">
            <li ng-repeat="section in appConfig.config.sections"><a href="/404" ng-bind="section"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
